@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,400&family=Roboto+Mono:wght@200&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,400&family=Roboto+Mono:wght@200&family=Sedgwick+Ave+Display&display=swap');

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    /* font-size: 40px; */
}

body {
    /* Imagen de fondo */
    background-image: url("/img/snkrsBackground.jpg") ; 
    background-size: cover;
}

/* Estilos del encabezado */
.header {
    background-color: #252B48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: static;

}
/* Estilos del logo */
.header .logo {
    cursor: pointer;
}


.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}
/* Estilos del Titulo */
.header div h1 {
    display: inline-block;
    color: beige;
    padding: 0 20px;
    transition: all 0.3s;
    font-weight: 800;
    /* font-family: 'Crimson Text', serif; */
    
    transition: color 0.3s, transform 0.3s; /* Transición de color y transformación */
}

.header div h1:hover {
    color: #eead53;
    cursor: pointer;
    
    transform: scale(1.5) translateX(0); /* Incrementa el tamaño en hover y bloquea el movimiento en X */
}



/* Estilos del menú hamburguesa */
.header .menu-icon i {
    font-size: 30px
}

.header .menu-icon{
    color: beige;
}

.header .menu-icon i:hover {
    color: #eead53;
    transform: scale(1.2);
    transition: color 0.3s, transform 0.3s;
}

.header .menu-icon button:hover {
    background-color: #e2f1f8;
    color: white;
}

.logo img{
    border-radius: 10%;
}

/* Estilos del menú lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #252B48;
    padding: 20px;
    transition: left 0.3s;
    border: solid 1px;
    z-index: 2; /* Set a higher z-index value */
}

.side-menu header {
    text-align: center;
    color: white;
    font-size: 30px;
}

.side-menu ul {
    
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 15px;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu #x {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3; /* Ensure the X button is above both menu and login */
    transition: transform 0.3s;
}

.side-menu #x:hover {
    transform: scale(1.2);
}

hr{
    border-color: black;
    color: black;
}


.Cont{
    width: 95%;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 2.5%;
    justify-content: center;
    align-items: center;
}

.Box .imgStock{
    width: 70%;
    max-width: 70%;
    padding-top: 5%;
    display: block; 
    margin: 0 auto;
    border-radius: 10px;
}

.Cont .Box{
    flex: 0.5; 
    margin: 0 10px;
    border-radius: 15px;
    padding: 40px 10px;
    background-color: #ffffffc3;
}

.Cont h3{
    font-size: 25px;
    text-align: center;
    line-height: 1;
    color: #000000;
    font-weight: 600;
}

.Cont h4{
    position: absolute;
    font-size: 20px;
    margin-left: 5%;
    line-height: 2;
    color: #000000;
    font-weight: 500;
}

.Cont h5{
    position: absolute;
    font-size: 20px;
    margin-left: 20%;
    line-height: 2;
    color: #000000;
    font-weight: 500;
}

.Box .Editar{
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    background-color: #8da0ed;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    cursor: pointer;
    border: none;
    font-size: 30px;
    font-weight: 800;
    transition: all 0.3s;
}

.Box .Editar:hover{
    background-color: #3e4eff;
    transform: scale(1.1);/* Escala del botón al hacer hover */
    color: rgb(255, 255, 255); 
}


/* Responsivo*/

/* Media query para móviles */
@media screen and (max-width: 768px) {
    /* Estilos para el encabezado en pantallas pequeñas */
    .header {
        padding: 5px 5%;
    }

    .header div h1 {
        font-size: 24px;
        padding: 0 10px;
    }

    .header .menu-icon i {
        font-size: 24px;
    }

    /* Estilos para el menú lateral en pantallas pequeñas */
    .side-menu {
        left: -100%; /* Oculta el menú lateral */
    }

    /* Estilos para la sección de contenido en pantallas pequeñas */
    .Cont {
        flex-direction: column; /* Cambia a diseño de columna */
        align-items: center;
        margin-left: 2%;
    }

    .Box {
        width: 90%; /* Ajusta el ancho de las cajas */
        margin: 10px 0;
    }
    
    .Box .Editar {
        width: 80%;
        margin-left: 10%;
    }
}
