@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,400&family=Roboto+Mono:wght@200&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,400&family=Roboto+Mono:wght@200&family=Sedgwick+Ave+Display&display=swap');
/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    /* font-size: 40px; */
}

body {
    /* Imagen de fondo */
    background-image: url("/img/snkrsBackground.jpg") ; 
    background-size: cover;
}

/* Estilos del encabezado */
.header {
    background-color: #252B48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: static;

}
/* Estilos del logo */
.header .logo {
    cursor: pointer;
}


.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}
/* Estilos del Titulo */
.header div h1 {
    display: inline-block;
    color: beige;
    padding: 0 20px;
    transition: all 0.3s;
    font-weight: 800;
    /* font-family: 'Crimson Text', serif; */
    
    transition: color 0.3s, transform 0.3s; /* Transición de color y transformación */
}

.header div h1:hover {
    color: #00ffd0;
    cursor: pointer;
    
    transform: scale(1.5) translateX(0); /* Incrementa el tamaño en hover y bloquea el movimiento en X */
}



/* Estilos del menú hamburguesa */
.header .menu-icon i {
    font-size: 30px
    
}

.header .menu-icon i:hover {
    color: #00ffc3;
    transform: scale(1.1);
}

.header .menu-icon button:hover {
    background-color: #e2f1f8;
    color: white;
    transform: scale(1.1);
}

/* Estilos del menú lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #252B48;
    padding: 20px;
    transition: left 0.3s;
    border: solid 1px;
    z-index: 2; /* Set a higher z-index value */
}




.side-menu header {
    text-align: center;
    color: white;
    font-size: 30px;
}

.side-menu ul {
    
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 15px;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu #x {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3; /* Ensure the X button is above both menu and login */
    transition: transform 0.3s;
}

.side-menu #x:hover {
    transform: scale(1.2);
}

/* Estilos de la tabla AdminUsers */
.Tabla {
    margin: 30px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    table-layout: fixed;
    justify-content: center;
}

.TablaContainer{
    position: relative;
    display: inline-block;
}

/* ... Tu CSS existente ... */

.Tabla th {
    position: relative; /* Agrega esta propiedad */
    background-color: #252B48;
    color: white;
    padding: 12px;
}

.Tabla th .add {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
 


.Tabla th .add:hover {
    background-color: #00FFCA;
    
}

.Tabla th {
    background-color: #252B48;
    color: white;
    padding: 12px;
}

.Tabla tr {
    border-bottom: 1px solid #ddd;
    font-size: 20px;
   
}
/* Estilos de los botones de Editar y Eliminar */
.EditarBtn,
.EliminarBtn {
    padding: 8px 16px;
    background-color: #59CE8F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.EditarBtn:hover,
.EliminarBtn:hover {
    background-color: #00FFCA;
}