@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,400&family=Roboto+Mono:wght@200&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,400&family=Roboto+Mono:wght@200&family=Sedgwick+Ave+Display&display=swap');
/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    /* font-size: 40px; */
}

body {
    /* Imagen de fondo */
    background-image: url("/img/snkrsBackground.jpg") ; 
    background-size: cover;
}

/* Estilos del encabezado */
.header {
    background-color: #252B48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: static;

}
/* Estilos del logo */
.header .logo {
    cursor: pointer;
}


.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}
/* Estilos del Titulo */
.header div h1 {
    display: inline-block;
    color: beige;
    padding: 0 20px;
    transition: all 0.3s;
    font-weight: 800;
    /* font-family: 'Crimson Text', serif; */
    
    transition: color 0.3s, transform 0.3s; /* Transición de color y transformación */
}

.header div h1:hover {
    color: #00ffd0;
    cursor: pointer;
    
    transform: scale(1.5) translateX(0); /* Incrementa el tamaño en hover y bloquea el movimiento en X */
}



/* Estilos del menú hamburguesa */
.header .menu-icon i {
    font-size: 30px
    
}

.header .menu-icon i:hover {
    color: #00ffc3;
    transform: scale(1.1);
}

.header .menu-icon button:hover {
    background-color: #e2f1f8;
    color: white;
    transform: scale(1.1);
}

/* Estilos del menú lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #252B48;
    padding: 20px;
    transition: left 0.3s;
    border: solid 1px;
    z-index: 2; /* Set a higher z-index value */
}




.side-menu header {
    text-align: center;
    color: white;
    font-size: 30px;
}

.side-menu ul {
    
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 15px;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu #x {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3; /* Ensure the X button is above both menu and login */
    transition: transform 0.3s;
}

.side-menu #x:hover {
    transform: scale(1.2);
}

hr{
    border-color: black;
    color: black;
}
/* Estilos del login */

#Login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: #F9F9F9; /* Fondo blanco */
    /* border: 2px solid #252B48; Marco sólido */
    box-shadow: -20px 40px 40px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    z-index: 1; /* Set a lower z-index value */
}
#Login header {
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
    font-weight: 200;
}

#Login form {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

#Login label {
    margin-bottom: 5px;
    color: #352F44;
    font-size: 25px;
}
 
#Login #UN{
    margin-bottom: 5px;
    color: #352F44;
    font-size: 18px;
}

#Login #UA{
    margin-bottom: 5px;
    color: #352F44;
    font-size: 18px;
}

#Login input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid ;
    border-radius: 4px;
}

#Login #Succes {
    height: 40px;
    width: 250px;
    padding: 4px 5px; /* Tamaño reducido de los botones */
    background-color: #84c987;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 16px;
    cursor: pointer; 
    font-size: 18px;
    transition: all 0.3s; /* Animación de transición */
    align-self: center;
    text-align: center;
}

#Login #Succes:hover {
    border: solid 1px;
    background-color: #16a232;
    transform: scale(1.1);/* Escala del botón al hacer hover */
    color: rgb(255, 255, 255); 
}


#Login #Cancelar {
    margin-top: 1%;
    height: 40px;
    width: 250px;
    padding: 4px 5px; /* Tamaño reducido de los botones */
    background-color: #c8b7b7;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
    align-self: center;
    text-align: center;
}

#Login #Cancelar:hover {
    transform: scale(1.1); /* Escala del botón al hacer hover */
    background-color: #c21818; /* Cambio de color de fondo al hacer hover */
    color: rgb(255, 255, 255); /* Cambio de color de texto al hacer hover */
}